# Maven
target/
!target/*.jar
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Git
.git/
.gitignore
.gitattributes

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Docs
README.md
HELP.md
*.postman_collection.json
db_*.sql
